/* Responsive */
@media (min-width: 1800px) {
	.banner-content-outer h1 {
		font-size: 102px;
		max-width: 900px;
	}
}
@media (max-width: 1199px) {
	.banner-content-outer h1 {
		font-size: 70px;
	}
	.hddr_inr {
		display: none;
	}
}

@media (max-width: 991px) {
	.logo {
		width: 250px;
		display: block;
	}

	.sticky .logo {
		width: 240px;
	}

	.nav_holder {
		padding: 10px 0;
	}

	.hdr_menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 400px;
		transform: translateX(100%);
		background: #fff;
		overflow-y: auto;
		transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
		padding: 10px 15px 20px;
		z-index: 99;
	}

	.hdr_menu ul {
		padding-top: 50px;
	}

	.hdr_menu ul li {
		width: 100%;
		transition: all 0.4s ease-in-out;
	}

	.hdr_menu ul li.menu-item-has-children .sub-menu {
		display: block;
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		padding: 0px 10px 0;
		background-color: transparent;
		box-shadow: none;
		transform: none;
		transition: initial !important;
		-webkit-transition: initial !important;
	}

	.hdr_menu ul li.menu-item-has-children ul li {
		padding: 5px 0;
		line-height: 1.5;
	}

	.hdr_menu li {
		margin-right: 0;
		padding-right: 0;
		border: 0;
		margin-bottom: 0px;
	}

	.hdr_menu li a {
		font-size: 15px;
		font-weight: 400;
		display: block;
		color: #000000;
		padding: 5px 0;
	}

	.hdr_menu li a:hover {
		color: #688238 !important;
	}

	.hdr_menu li a::before {
		display: none;
	}

	.hdr_menu li:hover a {
		color: #000000 !important;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a {
		color: #000;
		font-size: 15px;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a:hover {
		color: #688238;
		padding-left: 0;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item > a {
		color: #688238;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item > a:hover {
		color: #688238;
	}

	.hdr_menu li > a::after {
		display: none;
	}

	.sticky .hdr_menu li.current-menu-item a {
		color: #688238;
	}

	.sticky .hdr_menu li:hover a {
		color: #688238;
	}

	.sticky .hdr_menu li a {
		color: #000000;
		background-color: transparent;
	}

	.menu_btn {
		width: 30px;
		display: block;
	}

	.menu_btn span {
		height: 2px;
		display: block;
		background: #ef6130;
		margin-left: auto;
		transition: 0.4s;
	}

	.menu_btn span:nth-child(2) {
		width: 80%;
	}

	.menu_btn span + span {
		margin-top: 5px;
	}

	.menu_trigger {
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 100;
		transform: translateY(-50%);
	}

	.mobile_menu_active {
		overflow: hidden;
	}

	.mobile_menu_active .menu_trigger {
		right: 20px;
		top: 25px;
		transform: none;
		position: fixed;
	}

	.mobile_menu_active .hdr_menu {
		transform: translateX(0px);
	}

	.mobile_menu_active .overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 30;
	}

	.mobile_menu_active .menu_btn span {
		background: #688238;
	}

	.mobile_menu_active .menu_btn span:first-child {
		transform: rotate(45deg);
	}

	.mobile_menu_active .menu_btn span:last-child {
		transform: rotate(-45deg);
	}

	.mobile_menu_active .menu_btn span:nth-child(2) {
		display: none;
	}

	.mobile_menu_active .menu_btn span + span {
		margin-top: -2px;
		width: 100%;
	}

	.mobile_menu_active .hddr_inr {
		position: static;
	}

	.mobile_menu_active .sticky .nav_holder {
		position: fixed;
	}

	.mobile_menu_active .nav_inr {
		position: static;
	}

	.overlay {
		overflow: hidden;
	}

	.nav_inr {
		position: relative;
	}

	.sub_menu_opener {
		display: block;
		pointer-events: none;
	}

	.responisve-logo {
		display: block;
		width: 270px;
	}

	.header-social-list-outer {
		display: none;
	}

	.header-social-list-outer.responsive-header-social-btn {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}

	.responsive-menu-additional-components {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.hdr_menu li.menu-item-has-children .sub-menu li.current-menu-item a {
		padding-left: 0;
	}
	.our-work-process-wrapper .tab-content > .tab-pane {
		display: block;
		opacity: 1;
	}
	.side-pic {
		display: none;
	}
	.menu-holder {
		width: 100%;
		max-width: 100%;
	}
	.header-right-content .menu-toggle-btn {
		width: auto;
		height: auto;
		background-color: transparent;
		position: static;
	}
	.sticky .header-right-content .menu-toggle-btn {
		height: auto;
		box-shadow: none;
	}
	.header-cta-btn {
		display: none;
	}
	.header-right-content .menu-toggle-btn span {
		border-top: 2px solid #fff;
	}
	.banner-social-outer::before,
	.banner-social-outer::after {
		display: none;
	}
	.banner-social-outer {
		display: none;
	}
	.banner-kpi-outer .row {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
	}
	.banner-kpi-outer .row .col {
		flex: none;
		width: 50%;
		padding: 15px;
	}
	.banner-content-outer {
		transform: translate(-50%, -100%);
	}
	.recent-project-card {
		width: 100%;
	}
	.recent-project-wrapper [class*="col-"] {
		margin-bottom: 25px;
	}
	.recent-project-wrapper [class*="col-"]:nth-child(4),
	.recent-project-wrapper [class*="col-"]:nth-child(5) {
		margin-top: 0;
	}
	.recent-project-card {
		min-height: 300px;
		height: 300px;
	}
	.recent-project-card img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.recent-project-card .data h3 {
		font-size: 24px;
		padding: 0 15px;
	}
	.design-permit-media,
	.remodeling-regulation-media {
		margin-bottom: 30px;
	}
	.design-permit-media img,
	.remodeling-regulation-media img {
		width: 100%;
	}
	.dream-build-media {
		display: none;
	}
	.dream-build-wrapper .dream-build-data {
		position: static;
		padding: 30px;
	}
	.recent-project-wrapper {
		padding-top: 70px;
	}
	.remodeling-regulation-data {
		padding-left: 0;
	}
	.yelp-review-outer {
		margin-bottom: 30px;
	}
	.video-revew-media a img {
		width: 100%;
	}
	.request-quote-data {
		display: block;
	}
	.request-quote-data .data-left {
		width: 100%;
	}
	.request-quote-data .data-right {
		width: 100%;
	}
	.sticky .header-right-content .menu-toggle-btn span {
		border-top: 2px solid #000;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 16px;
		line-height: 26px;
	}

	.input-field {
		margin-bottom: 15px;
	}

	.banner-wrapper .banner-text {
		position: relative;
		z-index: 2;
	}

	.banner-wrapper .banner-text h1 {
		font-size: 32px;
	}

	.section-heading h2 {
		font-size: 28px;
		margin-bottom: 15px;
	}
	.ourSolution .tabCumAccordian .tabNav {
		display: none;
	}

	.banner-content-outer p {
		font-size: 20px;
	}
	.menu-holder .nav li a {
		padding: 0;
		font-size: 17px;
		line-height: 1.5;
	}
	.off-canvas-menu-holder .off-canvas-close-btn {
		top: 25px;
		right: 20px;
	}
	.banner-content-outer .btn {
		min-width: auto;
	}
	.btn,
	.basic-btn {
		font-size: 17px;
		line-height: 1.4;
		padding: 11px 24px;
	}
	.service-slider-outer .service-slide-card .data {
		padding: 15px;
		margin: 0;
		transform: none;
	}
	.service-slider-outer .service-slide-card .data h3 {
		font-size: 22px;
	}
	.banner-kpi-card p {
		font-size: 17px;
	}
	.off-canvas-menu-holder {
		width: 100%;
	}
	.menu-holder .nav li {
		padding: 15px 20px;
	}
	.menu-holder .nav li.menu-item-has-children ul {
		-moz-column-count: 1;
		column-count: 1;
		padding-left: 12px;
	}
	.menu-holder .nav li.menu-item-has-children li {
		margin-bottom: 16px;
	}
	.menu-holder {
		padding: 70px 0 30px;
	}
	.service-slider-outer .slider-nav {
		display: flex;
		justify-content: center;
		gap: 0 16px;
		margin: 40px 0;
	}
	.service-slider-outer .slider-nav .swiper-button-prev,
	.service-slider-outer .slider-nav .swiper-button-next {
		position: static;
		transform: none;
		margin: 0;
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.22);
	}
	.work-process-card {
		max-width: 100%;
		min-height: auto;
	}
	.work-process-card .icon {
		position: static;
		width: auto;
		height: auto;
		display: block;
		background-color: transparent;
		border: 0;
		margin-bottom: 15px;
	}
	.work-process-card .data h3 {
		font-size: 19px;
		padding-left: 0;
		min-height: auto;
	}
	.work-process-card {
		pointer-events: none;
	}
	.section-padding {
		padding: 40px 0;
	}
	.remodeling-regulation-data h2 {
		margin-bottom: 30px;
	}
	.testimonial-wrapper .section-heading {
		position: static;
	}
	.testimonial-wrapper {
		position: relative;
		padding-bottom: 130px;
	}
	.testimonial-slider-nav {
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
	}
	.request-quote-data .data-left h2 {
		margin: 15px 0;
		font-size: 27px;
	}
	.request-quote-data .data-left,
	.request-quote-data .data-right {
		padding: 25px 15px;
	}
	.request-quote-data .call-btn p span {
		font-size: 22px;
	}
	.home-contact-form-outer .title p {
		font-size: 26px;
	}
	.footer-top-row > [class*="col-"]:nth-child(2),
	.footer-top-row > [class*="col-"]:last-child {
		padding-left: 15px;
	}
	.footer-top-row > [class*="col-"] {
		padding: 15px 15px;
	}
	.footer-top-row > [class*="col-"]:last-child ul {
		-moz-column-count: 1;
		column-count: 1;
	}
	.footer-top-row {
		padding: 40px 0;
	}
	.footer-bottom-row .holder {
		flex-direction: column;
		gap: 15px 0;
	}
	.banner-wrapper .banner-video {
		min-height: auto;
	}
	.banner-content-outer {
		transform: translate(-50%, -120%);
	}
	.category .banner-content-outer {
		transform: translate(-50%, -50%);
		top: 35%;
	}
	.category .banner-wrapper .banner-video {
		min-height: 990px;
	}
	.work-process-wrapper .section-heading {
		margin-bottom: 30px;
	}
	.service-work-process-wrapper .work-process-card::before {
		top: 26px;
		left: 25px;
		right: auto;
		width: auto;
		height: auto;
		display: block;
		background-color: transparent;
		border: 0;
		font-size: 20px;
	}
	.service-work-process-wrapper .work-process-card .data h3 {
		padding-left: 34px;
	}
	.service-work-process-wrapper .work-process-card {
		margin-bottom: 0;
	}
	.related-project-card .media {
		min-height: auto;
		height: auto;
	}
	.contact-form-wrapper .contact-form-holder {
		padding: 40px 0;
		margin-top: 0;
	}
	.map-holder iframe {
		height: 400px;
	}
	.page-template-template-about .banner-content-outer {
		top: 25%;
	}
	.page-template-template-contact-us .banner-content-outer,
	.page-template-template-about .banner-content-outer {
		transform: translate(-50%, -50%);
	}
	.page-template-template-contact-us .banner-wrapper .banner-video {
		min-height: auto;
		height: 300px;
	}
	body.home .banner-wrapper .banner-video {
		min-height: 850px;
	}
	body.home .banner-content-outer {
		transform: translate(-50%, -50%);
		top: 30%;
	}
}
